<div class="single_widgets widget_search">
  <h4 class="title">Search</h4>
  <form action="/search" method="GET" class="sidebar-search-form">
    <input type="search" autocomplete="off" name="q"
    placeholder="Search...">
    <button type="submit"><i class="ti-search"></i></button>
  </form>
</div>

<div class="single_widgets widget_category">
  <h4 class="title">Categories</h4>
  <ul>
    {% for category in site.data.blog.categories %}
      <li><a href="/blog/category/{{ category }}">{{ category }}</a></li>
    {% endfor %}
  </ul>
</div>
