<section>
  <div class="container">

    <div class="row align-items-center">

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="about-short">
          <div class="sec-heading mb-3">
            <h2>Know about <span class="theme-cl">{{ site.title }}</span></h2>
          </div>
          <p>{{ site.shortAbout }}</p>
          <div class="cource_facts">
            <ul>

              <li><span class="theme-cl">{{ site.data.courses.size | minus: 1
                  }}</span> Free courses</li>
              <li><span class="theme-cl">100s</span> of lessons</li>
              <li><span class="theme-cl">0</span> Ads or hidden fees</li>

            </ul>
          </div>

          <a href="/about" class="btn btn-modern">Learn More
            <span><i class="ti-arrow-right"></i></span></a>

        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="list_facts_wrap_img">

          <img src="/img/hero.png" class="img-fluid">

        </div>
      </div>

    </div>

  </div>
</section>
