<section class="footer-section">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-3">
        <h4 class="text-headline text-light">Corporate</h4>
        <ul class="list-unstyled">
          <li><a href="#">About</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Contact me</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="text-headline text-light">Explore</div>
        <div class="list-unstyled">
          <li><a href="#">Courses</a></li>
          <li><a href="#">Tutors</a></li>
          <li><a href="#">Contribute</a></li>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <p class="text-subhead">&copy; 2020 Learning App by {{ site.author }}. Learning HTML
        template by mosaicpro.</p>
      </div>

    </div>
  </div>
</section>

<footer class="footer">
  <strong>Learning</strong> {{ site.version }} &copy; Copyright {{ site.copyDate }}
</footer>

<script>
  var colors = {
    "danger-color": "#e74c3c",
    "success-color": "#81b53e",
    "warning-color": "#f0ad4e",
    "inverse-color": "#2c3e50",
    "info-color": "#2d7cb5",
    "default-color": "#6e7882",
    "default-light-color": "#cfd9db",
    "purple-color": "#9D8AC7",
    "mustard-color": "#d4d171",
    "lightred-color": "#e15258",
    "body-bg": "#f6f6f6"
  };
  var config = {
    theme: "html",
    skins: {
      "default": {
        "primary-color": "#42a5f5"
      }
    }
  };
</script>

<script src="{{ 'js/libraries/all.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/app/app.js' | prepend: site.baseurl }}"></script>
