<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{{ site.title }} - {{ page.title }}</title>

  {% include seo.html %}

  {% if site.url != 'http://localhost:4000' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180163335-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-180163335-1');
    </script>
  {% endif %}

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/colors.css">
  <link rel="stylesheet" href="/css/monokai.css">
</head>
<body class="red-skin">

  <div id="preloader"><div class="preloader"><span></span><span></span></div></div>

  <div id="main-wrapper">
    {% include header.html %}
