<div class="image-cover hero_banner" style="background: #003783;" data-overlay="0">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="banner-search-2 transparent">

          <h1 class="big-header-capt cl_2 mb-2">{{ site.heroTitle }}</h1>
          <p>{{ site.heroText }}</p>

          <div class="mt-4">
            <div class="banner-search shadow_high">
              <div class="search_hero_wrapping">
                <form class="row" role="div" action="/search" method="GET">

                  <div class="col-lg-10 col-md-10 col-sm-12">
                    <div class="form-group">
                      <div class="input-with-icon">
                        <input type="text" class="form-control"
                        placeholder="Keyword" name="q" autocomplete="off">
                        <img src="/img/search.svg" class="search-icon">
                      </div>
                    </div>
                  </div>

                  <div class="col-ld-2 col-md-2 col-sm-12 pl-0">
                    <div class="form-group none">
                      <input type="submit" class="btn search-btn full-width"
                      value="Go">
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="flixio pt-5">
          <img class="img-fluid" src="/img/hero.png">
        </div>
      </div>

    </div>

  </div>
</div>
