<div class="parallax cover overlay cover-image-full home">
  <img src="/images/photodune-4161018-group-of-students-m.jpg"
  class="parallax-layer">

  <div class="parallax-layer overlay overlay-full overlay-bg-white
    bg-transparent" data-speed="8" data-opacity="true">

    <div class="v-center">
      <div class="page-section overlay-bg-white-strong relative paper-shadow">
        <h1 class="text-display-2 margin-v-0-15 display-inline-block">
          Learn completely free
        </h1>
        <p class="text-subhead">
          Teach, learn and contribute to the platform in a completely free and
          transparent way, there are no hidden fees. Simply enjoy.
        </p>
        <a class="btn btn-green-500 btn-lg paper-shadow" data-hover-z="2"
          data-animated data-toggle="modal" href="/explore">Explore</a>
      </div>
    </div>

  </div>
</div>
