<div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
  <div class="panel-heading panel-collapse-trigger">
    <h4 class="panel-title">Categories</h4>
  </div>

  <div class="panel-body list-group">
    <ul class="list-group">

      <li class="list-group-item {% if page.url == '/explore/' %}active{% endif %}">
        <a href="/explore/" class="list-group-link">All</a>
      </li>

      {% for categories in site.data.courses.categories %}
        {% for category in categories %}
          {% if category.name != nil %}
          {% assign url = '/category/' | append: category.slug | append: '/' %}
          <li class="list-group-item {% if page.url == url %}active{% endif %}">
              <a class="list-group-link" href="{{ url }}">{{
                category.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}

    </ul>
  </div>
</div>
