{% include head.html %}

{% assign entry = site.data.blog.entries[page.entry] %}
{% assign tutor = site.data.tutors[entry.tutor] %}

{% include pageTitle.html %}

<section class="gray">

  <div class="container">

    <div class="row">

      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="article_detail_wrapss single_article_wrap format-standard">
          <div class="article_body_wrap">

            <div class="article_featured_image">
              <img class="img-fluid" src="{{ entry.thumb }}">
            </div>

            <div class="article_top_info">
              <ul class="article_middle_info">

                <li>
                  <a href="/tutor/{{ entry.tutor }}">
                    <span class="icons">
                      <i class="ti-user"></i>
                    </span>
                    by {{ tutor.name }}
                  </a>
                </li>

              </ul>
            </div>

            <h2 class="post-title">{{ page.title }}</h2>
            {{ content | markdownify }}

          </div>
        </div>

        <div class="article_detail_wrapss single_article_wrap format-standard">

          <div class="article_posts_thumb">
            <span class="img"><img class="img-fluid" src="{{ tutor.pp }}" ></span>
            <h3 class="pa-name">{{ tutor.name }}</h3>
            <ul class="social-links">
                {% if tutor.facebook %}
                  <li><a href="{{ tutor.facebook }}"><i class="fab fa-facebook"></i></a></li>
                {% endif %}
                {% if tutor.twitter %}
                  <li><a href="{{ tutor.twitter }}"><i class="fab fa-twitter"></i></a></li>
                {% endif %}
                {% if tutor.behance %}
                  <li><a href="{{ tutor.behance }}"><i class="fab fa-behance"></i></a></li>
                {% endif %}
                {% if tutor.youtube %}
                  <li><a href="{{ tutor.youtube }}"><i class="fab fa-youtube"></i></a></li>
                {% endif %}
                {% if tutor.linkedin %}
                  <li><a href="{{ tutor.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                {% endif %}
            </ul>
            <p class="pa-text">{{ tutor.about }}</p>
          </div>

        </div>

        <div class="article_detail_wrapss single_article_wrap format-standard">

          <div class="comment-area">
            {% include disqus.html entry = entry %}
          </div>

        </div>

      </div>

      <div class="col-lg-4 col-md-2 col-sm-12 col-12">

        {% include blogSidebar.html %}

      </div>

    </div>

  </div>

</section>

{% include footer.html %}
<script src="/js/translator.js"></script>
