{% include head.html %}
{% include pageTitle.html %}

<section class="pt-0">
  <div class="container">

    <div class="row">

      <div class="col-lg-4 col-md-12 col-sm-12 order-2 order-lg-1 order-md-2">
        {% include blogSidebar.html %}
      </div>

      <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-2 order-md-1">
        {% for entries in site.data.blog.entries reversed %}
          {% for entry in entries %}
            {% if entry.category == page.category %}
              {% assign tutor = site.data.tutors[entry.tutor] %}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="education_block_list_layout">

                    <div class="education_block_thumb n-shadow">
                      <a href="{{ entry.url }}"><img src="{{ entry.thumb }}" class="img-fluid"></a>
                    </div>

                    <div class="list_layout_ecucation_caption">

                      <div class="education_block_body">
                        <h4 class="bl-title"><a href="{{ entry.url }}">{{
                            entry.title }}</a></h4>
                      </div>

                     <div class="education_block_footer mt-3">
                      <div class="education_block_author">
                        <div class="path-img">
                          <a href="/tutor/{{ tutor.id }}">
                            <img src="{{ tutor.pp }}" class="img-fluid">
                          </a>
                        </div>
                        <h5><a href="/tutor/{{ tutor.id }}">{{ tutor.name }}</a></h5>
                      </div>
                     </div>

                    </div>

                  </div>
                </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>

    </div>

  </div>
</section>

{% include footer.html %}
