{% include head.html %}
{% include pageTitle.html %}

<section class="pt-0">
  <div class="container">

    <div class="row">

      {% for entries in site.data.blog.entries reversed %}
        {% for entry in entries %}
          {% if entry.title != nil %}
            {% assign tutor = site.data.tutors[entry.tutor] %}
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="articles_grid_style">
                <div class="articles_grid_thumb">
                  <a href="{{ entry.url }}"><img src="{{ entry.thumb }}"
                    class="img-fluid"></a>
                </div>

                <div class="articles_grid_caption">
                  <h4>{{ entry.title }}</h4>
                  <div class="articles_grid_author">
                    <div class="articles_grid_author_img">
                      <img class="img-fluid" src="{{ tutor.pp }}">
                    </div>
                    <h4>{{ tutor.name }}</h4>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}

    </div>

  </div>
</section>

{% include footer.html %}
