{% include head.html %}

{% assign category = site.data.courses.categories[page.category] %}

<div class="parallax bg-white page-section">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle">
      <div class="media-body">
        <h1 class="text-display-2 margin-none">{{ category.name }}</h1>
        <p class="text-light lead">{{ category.description }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="page-section">

      <div class="col-md-9">

        <div class="row" data-toggle="isotope">

          {% for post in site.posts %}
          {% assign course = site.data.courses[post.course] %}
          {% if course.category == page.category %}
          {% assign tutor = site.data.tutors[course.tutor] %}
          <div class="item col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default paper-hadow" data-z="0.5">

              <div class="cover overlay cover-image-full hover">
                <img src="{{ course.thumb }}" height="150" class="img icon-block
                height-150">
                <a href="{{ course.url }}" class="overlay overlay-full overlay-hover
                  overlay-bg-white">
                  <span class="v-center">
                    <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                  </span>
                </a>
              </div>

              <div class="panel-body">
                <h4 class="text-headline margin-v-0-10"><a href="{{ course.url }}">{{
                    course.title }}</a></h4>
              </div>

              <hr class="margin-none">

              <div class="panel-body">
                <p>{{ course.description }}</p>
                <div class="media v-middle">
                  <div class="media-left">
                    <img class="img-circle width-40" src="{{ tutor.pp }}">
                  </div>
                  <div class="media-body">
                    <h4><a href="/tutor/{{ course.tutor }}">{{ tutor.name }}</a><br></h4>
                    Tutor
                  </div>
                </div>
              </div>

            </div>
          </div>
          {% endif %}
          {% endfor %}

        </div>


      </div>

      <div class="col-md-3">

        {% include sidebar.search.html %}
        {% include sidebar.coursesCategories.html %}

      </div>

    </div>

</div>

{% include footer.html %}
