{% include head.html %}

{% assign course = site.data.courses[page.course] %}
{% assign tutor = site.data.tutors[course.tutor] %}

{% assign lessons = 0 %}

{% for contents in course.contents %}
{% for lesson in contents.contents %}
  {% assign lessons = lessons | plus: 1 %}
{% endfor %}
{% endfor %}

<div class="ed_detail_head">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-5">

        <div class="property_video">
          <div class="thumb">
            <img class="pro_img img-fluid w100" src="{{ course.thumb }}">
          </div>
        </div>

      </div>

      <div class="col-lg-8 col-md-7">

        <div class="ed_detail_wrap">
          <ul class="cources_facts_list">
            {% for tag in course.tags %}
              <li class="facts-{{ forloop.index }}">{{ tag }}</li>
            {% endfor %}
          </ul>

          <div class="ed_header_caption">
            <h2 class="ed_title">{{ course.title }}</h2>
            <ul>
              <li><i class="ti-calendar"></i> {{ course.duration }}</li>
              <li><i class="ti-control-forward"></i> {{ lessons }} lessons</li>
            </ul>
          </div>

          <div class="ed_header_short">
            <p>{{ course.description }}</p>
          </div>

          <div class="ed_rate_info">
            <div class="review_counter">
              <strong class="{% if course.completed == 1 %}high{% else %}mid{%
                endif %}">{% if course.completed == 1 %}Complete{% else
                %}Incomplete{% endif %}</strong>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<section class="bg-light">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-8">

        <div class="edu_wraper">
          <h4 class="edu_title">Course Overview</h4>
          <h6>Requirements</h6>
          <ul class="lists-3">
            {% for requirement in course.requirements %}
              <li>{{ requirement }}</li>
            {% endfor %}
          </ul>
          <h6>What you'll learn</h6>
          <ul class="lists-3">
            {% for topic in course.youlearn %}
              <li>{{ topic }}</li>
            {% endfor %}
          </ul>
          {{ content | markdownify }}
        </div>

        <div class="edu_wraper">
          <h4 class="edu">Contents</h4>

          <div id="accordionExample" class="accordion shadow circullum">

            {% for section in course.contents %}
              <div class="card">
                <div id="heading{{ forloop.index }}" class="card-header bg-white
                  shadow-sm border-0">
                  <h6 class="mb-0 accordion_title">
                    <a href="#" data-toggle="collapse" data-target="#collapse{{
                      forloop.index}}" aria-expanded="false"
                      aria-controls="collapse{{ forloop.index }}" class="d-block
                                     position-relative text-dark
                      collapsible-link py-2">{{ section.name }}</a>
                  </h6>
                </div>

                <div id="collapse{{ forloop.index }}"
                     aria-labelledby="heading{{ forloop.index }}"
                     data-parent="#accordionExample" class="collapse">
                  <div class="card-body pl-3 pr-3">
                    <ul class="lectures_lists">

                      {% for lesson in section.contents %}
                        <a href="{{ lesson.url }}">
                          <li>
                              {{ lesson.name }}
                          </li>
                        </a>
                      {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>

        <div class="single_instructor">
          <div class="single_instructor_thumb">
            <a href="/tutor/{{ course.tutor }}">
              <img src="{{ tutor.pp }}" class="img-fluid">
            </a>
          </div>

          <div class="single_instructor_caption">
            <h4><a href="/tutor/{{ course.tutor }}">{{ tutor.name }}</a></h4>
            <p>{{ tutor.about }}</p>
            <ul class="social_info">
              {% if tutor.facebook %}
                <li><a href="{{ tutor.facebook }}"><i class="ti-facebook"></i></a></li>
              {% endif %}
              {% if tutor.twitter %}
                <li><a href="{{ tutor.twitter }}"><i class="ti-twitter"></i></a></li>
              {% endif %}
              {% if tutor.linkedin %}
                <li><a href="{{ tutor.linkedin }}"><i class="ti-linkedin"></i></a></li>
              {% endif %}
              {% if tutor.instagram %}
                <li><a href="{{ tutor.instagram }}"><i class="ti-instagram"></i></a></li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="list-single-main-item fl-wrap">
            {% include disqus.html %}
        </div>

      </div>

      <div class="col-lg-4 col-md-4">

        <div class="edu_wraper">
          <h4 class="edu_title">Course Features</h4>
          <ul class="edu_list right">
            <li><i class="ti-files"></i>Lessons: <strong>{{ lessons }}</strong></li>
            <li><i class="ti-time"></i>Duration: <strong>{{ course.duration }}</strong></li>
            <li><i class="ti-tag"></i>Skill level: <strong>{{ course.skillLevel }}</strong></li>
            <li><i class="ti-flag-alt"></i>Language: <strong>{{ course.language }}</strong></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</section>

{% include footer.html %}
