{% include head.html %}

{% assign course = site.data.courses[page.course] %}
{% assign tutor = site.data.tutors[course.tutor] %}

<div class="ed_detail_head">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="ed_header_caption">
          <h2 class="ed_title"><a href="{{ course.url }}">{{ course.title
              }}</a>: {{ page.section }}</h2>
        </div>
      </div>

    </div>
  </div>
</div>

<section class="bg-light">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-8">

        <div class="edu_wraper">
          <h4 class="edu_title">{{ page.title }}</h4>
          {{ content | markdownify }}
        </div>

      </div>

      <div class="col-lg-4 col-md-4">

        <div class="edu_wraper">
          <h4 class="edu_title">Contents</h4>
          {% for section in course.contents %}
            <div class="card">
              <div id="heading{{ forloop.index }}" class="card-header bg-white
                shadow-sm border-0">
                <h6 class="mb-0 accordion_title">
                  <a href="#" data-toggle="collapse" data-target="#collapse{{
                    forloop.index}}" aria-expanded="{% if page.section ==
                    section.name %}true{% else %}false{% endif %}"
                    aria-controls="collapse{{ forloop.index }}" class="d-block
                                   position-relative text-dark
                    collapsible-link py-2">{{ section.name }}</a>
                </h6>
              </div>

              <div id="collapse{{ forloop.index }}"
                   aria-labelledby="heading{{ forloop.index }}"
                   data-parent="#accordionExample" class="collapse {% if
                    page.section == section.name %}show{% endif %}">
                <div class="card-body pl-3 pr-3">
                  <ul style="padding: 0; margin: 0; border-radius: 2px;
                             overflow: hidden">

                    {% for lesson in section.contents %}
                      <a href="{{ lesson.url }}">
                        <li {% if page.title == lesson.name %}class="theme-cl"{%
                          endif %} style="padding: 17px 15px; position: relative;
                          width: 100%; display: flex; align-items: center;
                          font-weight: 600; cursor: pointer">
                            {{ lesson.name }}
                        </li>
                      </a>
                    {% endfor %}

                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>

    </div>
  </div>
</section>

{% include footer.html %}
<script src="/js/translator.js"></script>
