{% include head.html %}
{% assign course = site.data.courses[page.course] %}

<div class="parallax bg-white page-section third">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle media-overflow-visible">
      <div class="media-body">
        <div class="text-headline">{{ course.title }}:  {{ page.section }}</div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="row">

      <div class="col-md-9">

        <div class="page-section padding-top-none">
          <div class="media media-grid v-middle">
            <div class="media-body">
              <h1 class="text-display-1 margin-none">{{ page.title }}</h1>
            </div>
          </div>
          <br>
          {{ content }}
          <br>
          <!-- TODO: Previous and Next -->
        </div>

      </div>

      {% include lesson.courseContents.html course=course %}

    </div>

  </div>

</div>

{% include footer.html %}

<script src="/js/app/translator.js"></script>
