{% include head.html %}

<div class="parallax bg-white page-section">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle">
      <!-- TODO: If not parallax image passed, parallax is a text -->
      <div class="media-body">
        <h1 class="text-display-2 margin-none">{{ page.title }}</h1>

        {% if page.subtitle %}
        <p class="text-light lead">{{ page.subtitle }}</p>
        {% endif %}

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-section">
    {{ content | markdownify }}
  </div>
</div>

{% include footer.html %}
