{% include head.html %}
{% include pageTitle.html %}

<section class="pt-0">
  <div class="container">

    <div class="row">

      {% include explore.filterSidebar.html %}

      <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-2 order-md-1">

        <div class="row align-items-center mb-3">
          <div class="col-lg-6 col-md-6 col-sm-12">
            Displaying results for: <strong id="injectQuery"></strong>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h4>Courses</h4>
            <div id="courses"></div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <h4>Entries</h4>
            <div id="entries"></div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

{% include footer.html %}
<script src="/js/search.js"></script>
<script>
  var term = getQueryVariable("q")

  $("#injectQuery").text(term)
  returnSearchData(performSearch)

  // TODO: Optimise this
  function performSearch(json) {
      var finalJSON = JSON.parse(json)

      var titles = getObjects(finalJSON, "title", term)
      var tags = getObjects(finalJSON, "tags", term)

      var objects = [
          ...titles,
          ...tags
      ]

      for(var i = 0; i < objects.length; i++) {
          if(objects[i].type === "blog") {
              drawEntry(objects[i])
              return
          }
          drawPost(objects[i])
      }
  }

  function drawPost(post) {
      var parent = document.querySelector("#courses")
      draw(post, parent, "post")
  }

  function drawEntry(entry) {
      var parent = document.querySelector("#entries")
      draw(entry, parent, "entru")
  }

  function draw(content, parent, type) {

      if(type == "post") {
          if(content.completed) {
              var completion = "<strong class='high'>Complete</strong>"
            } else {
                var completion = "<strong class='mid'>Incomplete</strong>"
            }
       } else {
           var completion = ""
      }

      var html = `
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="education_block_list_layout">

    <div class="education_block_thumb n-shadow">
      <a href="${content.url}"><img src="${content.thumb}" class="img-fluid"></a>
    </div>

    <div class="list_layout_ecucation_caption">

      <div class="education_block_body">
        <h4 class="bl-title"><a href="${content.url}">${content.title}</a></h4>
        <div class="course_rate_system">
          <div class="course_reviews_info">
            ${completion}
          </div>
        </div>
      </div>

 <div class="education_block_footer mt-3">
  <div class="education_block_author">
    <div class="path-img">
      <a href="/tutor/${content.tutor}">
        <img src="${content.tutorProfile}" class="img-fluid">
      </a>
    </div>
    <h5><a href="/tutor/${content.tutor}">${content.tutorName}</a></h5>
  </div>
 </div>

    </div>

  </div>
</div>
      `
      parent.insertAdjacentHTML("beforeend", html);
  }
</script>
