{% include head.html %}

{% assign tutor = site.data.tutors[page.tutor] %}

<div class="image-cover ed_detail_head invers" style="background: #0b1c38;"
  data-overlay="0">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-12 col-md-12">
        <div class="viewer_detail_wraps">
          <div class="viewer_detail_thumb">
            <img class="img-fluid" src="{{ tutor.pp }}">
            <div class="viewer_status">{{ tutor.mainRole }}</div>
          </div>
          <div class="caption">
            <div class="viewer_header">
              <h4>{{ tutor.name }}</h4>
              <span class="viewer_location">{{ tutor.roles | join: ', ' }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <h2>{{ tutor.name }}'s courses</h2>
      </div>

      {% for post in site.posts %}
        {% assign course = site.data.courses[post.course] %}
        {% if course.tutor == page.tutor %}
          <div class="col-lg-4 col-md-6">
            <div class="edu-watching">
              <div class="property_video sm">
                <div class="thumb">
                  <img class="pro_img img-fluid w100" src="{{ course.thumb }}">
                </div>
              </div>
              <div class="edu_video detail">
                <div class="edu_video_header">
                  <h4><a href="{{ course.url }}">{{ course.title }}</a></h4>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</section>

{% include footer.html %}
