{% include head.html %}

{% assign tutor = site.data.tutors[page.tutor] %}

<div class="parallax overflow-hidden bg-blue-400 page-section third">
  <div class="container parallax-layer" data-opacity="true">
    <div class="media v-middle">
      <div class="media-left text-center">
        <a href="#">
          <img src="{{ tutor.pp }}" class="img-circle width-80">
        </a>
      </div>
      <div class="media-body">
        <h1 class="text-white text-display-1 margin-v-0">{{ tutor.name }}</h1>
      </div>
      <div class="media-right">
        <span class="label bg-blue-500">Tutor</span>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="page-section">
    <div class="col-md-12">
      <h1>{{ tutor.name }}'s courses:</h1>
      <div class="row" data-toggle="isotope">

          {% for post in site.posts %}
          {% assign course = site.data.courses[post.course] %}
          {% if course.tutor == page.tutor %}
            <div class="item col-xs-12 col-sm-4 col-lg-3">
              <div class="panel panel-default paper-shadow" data-z="0.5">

                <div class="cover overlay cover-image-full hover">
                  <img src="{{ course.thumb }}" height="140" class="img
                  icon-block height-150">

                  <a href="{{ course.url }}" class="overlay overlay-full
                    overlay-hover overlay-bg-white">
                    <span class="v-center">
                      <span class="btn btn-circle btn-white btn-lg"><i class="fa
                          fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>

                <div class="panel-body">
                  <h4 class="text-headline margin-v-0-10">
                    <a href="{{ course.url }}">{{ course.title }}</a>
                  </h4>
                </div>

                <hr class="margin-none">

                <div class="panel-body">
                  <p>{{ course.description }}</p>
                  <div class="media v-middle">
                    <div class="media-left">
                      <img class="img-circle width-40" src="{{ tutor.pp }}">
                    </div>
                    <div class="media-body">
                      <h4><a href="#">{{ tutor.name }}</a><br></h4> Tutor
                    </div>
                  </div>
                </div>

              </div>
            </div>
          {% endif %}
          {% endfor %}

        </div>

      </div>
    </div>
  </div>

</div>

{% include footer.html %}
